<% was_validated = event.errors.any? %>

<%= form_with(model: event, local: true, novalidate: true, class: "mb-3") do |f| %>
  <%= f.hidden_field :event_id, value: current_profile.id %>
  <div class="form-group">
    <% event_name_class = "form-control" %>
    <% event_name_was_invalid = event.errors.include?(:event_name) %>

    <% if was_validated %>
      <% if event_name_was_invalid %>
        <% event_name_class << " is-invalid" %>
      <% else %>
        <% event_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :event_name %>
    <%= f.text_field :event_name, class: event_name_class, placeholder: "Enter event name" %>
    <% if event_name_was_invalid %>
      <% event.errors.full_messages_for(:event_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% event_start_time_class = "form-control" %>
    <% event_start_time_was_invalid = event.errors.include?(:event_start_time) %>

    <% if was_validated %>
      <% if event_start_time_was_invalid %>
        <% event_start_time_class << " is-invalid" %>
      <% else %>
        <% event_start_time_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :event_start_time %>
    <%= f.time_select :event_start_time, class: event_start_time_class, placeholder: "Enter event start time" %>
    <% if event_start_time_was_invalid %>
      <% event.errors.full_messages_for(:event_start_time).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% event_start_date_class = "form-control" %>
    <% event_start_date_was_invalid = event.errors.include?(:event_start_date) %>

    <% if was_validated %>
      <% if event_start_date_was_invalid %>
        <% event_start_date_class << " is-invalid" %>
      <% else %>
        <% event_start_date_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :event_start_date %>
    <%= f.date_select :event_start_date, class: event_start_date_class, placeholder: "Enter event start date" %>
    <% if event_start_date_was_invalid %>
      <% event.errors.full_messages_for(:event_start_date).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% event_end_time_class = "form-control" %>
    <% event_end_time_was_invalid = event.errors.include?(:event_end_time) %>

    <% if was_validated %>
      <% if event_end_time_was_invalid %>
        <% event_end_time_class << " is-invalid" %>
      <% else %>
        <% event_end_time_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :event_end_time %>
    <%= f.time_select :event_end_time, class: event_end_time_class, placeholder: "Enter event end time" %>
    <% if event_end_time_was_invalid %>
      <% event.errors.full_messages_for(:event_end_time).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% event_end_date_class = "form-control" %>
    <% event_end_date_was_invalid = event.errors.include?(:event_end_date) %>

    <% if was_validated %>
      <% if event_end_date_was_invalid %>
        <% event_end_date_class << " is-invalid" %>
      <% else %>
        <% event_end_date_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :event_end_date %>
    <%= f.date_select :event_end_date, class: event_end_date_class, placeholder: "Enter event end date" %>
    <% if event_end_date_was_invalid %>
      <% event.errors.full_messages_for(:event_end_date).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% event_host_class = "form-control" %>
    <% event_host_was_invalid = event.errors.include?(:event_host) %>

    <% if was_validated %>
      <% if event_host_was_invalid %>
        <% event_host_class << " is-invalid" %>
      <% else %>
        <% event_host_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :event_host_id %>
    <%= f.number_field :event_host_id, class: event_host_class, placeholder: "Enter event host" %>
    <% if event_host_was_invalid %>
      <% event.errors.full_messages_for(:event_host).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% event_host_name_class = "form-control" %>
    <% event_host_name_was_invalid = event.errors.include?(:event_host_name) %>

    <% if was_validated %>
      <% if event_host_name_was_invalid %>
        <% event_host_name_class << " is-invalid" %>
      <% else %>
        <% event_host_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :event_host_name %>
    <%= f.text_field :event_host_name, class: event_host_name_class, placeholder: "Enter event host name" %>
    <% if event_host_name_was_invalid %>
      <% event.errors.full_messages_for(:event_host_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% photo_class = "form-control" %>
    <% photo_was_invalid = event.errors.include?(:photo) %>

    <% if was_validated %>
      <% if photo_was_invalid %>
        <% photo_class << " is-invalid" %>
      <% else %>
        <% photo_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :photo %>
    <%= f.file_field :photo, class: "form-control" %>
    <% if photo_was_invalid %>
      <% event.errors.full_messages_for(:photo).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
